# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Conda
.env
*.env
*.yml

# Virtual env
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Models / data
models/
data/
*.ckpt
*.pt
*.pth

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db